<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="car" class="ua.kiev.prog.spring.sample1.Car"/>

    <!--<bean id="fileLogger" class="ua.kiev.prog.spring.sample1.FileLoggerAPI" init-method="open" destroy-method="close">-->
    <!--<constructor-arg value="log.txt" />-->
    <!--<property name="preprocessor" ref="datePreprocessor" /> &lt;!&ndash; optional &ndash;&gt;-->
    <!--</bean>-->

    <!--<bean id="consoleLogger" class="ua.kiev.prog.spring.sample1.ConsoleLoggerAPI">-->
    <!--<property name="preprocessor" ref="datePreprocessor" /> &lt;!&ndash; optional &ndash;&gt;-->
    <!--</bean>-->

    <!--<bean id="notifier" class="ua.kiev.prog.spring.sample1.Notifier">-->
    <!--<constructor-arg ref="fileLogger" />-->
    <!--</bean>-->
</beans>